Repository openvalidation/openvalidation-ide, pull requests merged in 2020-04, with the labels that each got.

#120 Get variables from the openVALIDATION/parsingResult notification
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/styles/_variables.scss
  frontend/src/styles/themes.scss
Labels: frontend

#126 #84 Display Errors
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/styles/_variables.scss
  frontend/src/styles/themes.scss
Labels: frontend

#127 Design of integrated monaco editor
  backend/src/main/resources/data-postgresql.sql
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/index.html
  frontend/src/styles/_variables.scss
  frontend/src/styles/themes.scss
Labels: frontend

#129 #84 Display Errors
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/attribute/AttributeCreateDto.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/attribute/AttributeUpdateDto.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetCreateDto.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetUpdateDto.java
  frontend/src/app/ovide.module.ts
  frontend/src/app/ruleset-creator/ruleset-creator.component.html
  frontend/src/app/ruleset-creator/ruleset-creator.component.ts
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/app/rulesets-overview/rulesets-overview.component.ts
  frontend/src/app/schema-attribute-dialog/schema-attribute-dialog.component.html
  frontend/src/app/schema-attribute-dialog/schema-attribute-dialog.component.ts
  frontend/src/app/schema-editor/schema-editor.component.ts
  frontend/src/app/services/error-handler.service.spec.ts
  frontend/src/app/services/error-handler.service.ts
Labels: frontend

#133 #131 Change color of error snackbar
  frontend/src/app/ovide-app/ovide-app.component.scss
  frontend/src/app/services/error-handler.service.ts
  frontend/src/styles/_variables.scss
  frontend/src/styles/styles.scss
  frontend/src/styles/themes.scss
Labels: frontend

#135 #132 Changed database initialization
  backend/src/main/java/de/openvalidation/openvalidationidebackend/ApplicationStartup.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/maintenance/MaintenanceController.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/maintenance/MaintenanceService.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/maintenance/ResetService.java
  backend/src/main/resources/data-postgresql.sql
Labels: backend

#142 #140 Ruleset card padding
  frontend/src/app/rulesets-overview/rulesets-overview.component.scss
Labels: frontend

#137 #134 Improved syntax highlighting
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
Labels: frontend

#136 #130 Inline editing of ruleset's name and description
  frontend/src/app/ovide-app/ovide-app.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
Labels: frontend

#145 Refactor DtoMapper
  backend/src/main/java/de/openvalidation/openvalidationidebackend/core/DtoMapper.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/attribute/AttributeDtoMapper.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetDtoMapper.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetService.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/schema/SchemaDtoMapper.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/schema/SchemaService.java
  backend/src/test/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetServiceTest.java
  backend/src/test/java/de/openvalidation/openvalidationidebackend/entities/schema/SchemaServiceTest.java
Labels: backend

#139 #138 Default ruleset data on create
  backend/pom.xml
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetController.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetCreateDto.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetService.java
  backend/src/test/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetIntegrationTest.java
  frontend/src/app/rulesets-overview/rulesets-overview.component.html
  frontend/src/app/rulesets-overview/rulesets-overview.component.ts
Labels: backend, frontend

#151 #147 Ordering rulesets in overview based on last edit
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/Ruleset.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetService.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/maintenance/MaintenanceService.java
  backend/src/test/java/de/openvalidation/openvalidationidebackend/entities/ruleset/RulesetServiceTest.java
  backend/src/test/java/de/openvalidation/openvalidationidebackend/util/RulesetBuilder.java
Labels: backend

#149 #42 Ruleset editor design
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
Labels: frontend

#153 Faulty colors in prod build
  frontend/angular.json
Labels: frontend

#148 #107 move language server code to service
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/app/services/ov-language-server.service.spec.ts
  frontend/src/app/services/ov-language-server.service.ts
Labels: frontend

#156 #150 check fields for and show max length & prevent unnecessary save
  frontend/src/app/ruleset-editor/ruleset-editor.component.html
  frontend/src/app/ruleset-editor/ruleset-editor.component.scss
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
Labels: frontend

#143 #99 Finalize testsuite design
  frontend/src/app/design-test/design-test.component.ts
  frontend/src/app/gauge-chart/gauge-chart.component.html
  frontend/src/app/gauge-chart/gauge-chart.component.scss
  frontend/src/app/gauge-chart/gauge-chart.component.spec.ts
  frontend/src/app/gauge-chart/gauge-chart.component.ts
  frontend/src/app/ovide.module.ts
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.html
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.scss
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.ts
  frontend/src/styles/_variables.scss
  frontend/src/styles/themes.scss
Labels: frontend

#164 Cleanup of backend
  backend/src/main/java/de/openvalidation/openvalidationidebackend/infrastructure/database/DatabaseInitializer.java
  backend/src/main/java/de/openvalidation/openvalidationidebackend/infrastructure/database/DatabaseResetController.java
  frontend/openapi.json
  frontend/src/app/backend/api.module.ts
  frontend/src/app/backend/api/api.ts
  frontend/src/app/backend/api/attributes-backend.service.ts
  frontend/src/app/backend/api/rulesets-backend.service.ts
  frontend/src/app/backend/api/schema-backend.service.ts
  frontend/src/app/backend/model/attribute-dto.ts
  frontend/src/app/backend/model/attribute-update-dto.ts
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.ts
Labels: backend

#155 #81 Cleanup
  backend/docker-compose.yml
  docker-compose.yml
  frontend/angular.json
  frontend/docker-compose.yml
  frontend/src/app/design-test/design-test.component.html
  frontend/src/app/design-test/design-test.component.scss
  frontend/src/app/design-test/design-test.component.spec.ts
  frontend/src/app/design-test/design-test.component.ts
  frontend/src/app/material-design/material-design.module.ts
  frontend/src/app/monaco-additions/syntax-highlighting/TokensProvider.ts
  frontend/src/app/ovide.module.ts
  frontend/src/app/routing/ovide-routing.module.ts
  frontend/src/app/ruleset-creator/ruleset-creator.component.html
  frontend/src/app/ruleset-creator/ruleset-creator.component.ts
  frontend/src/app/ruleset-editor/monaco-editor-config.ts
  frontend/src/app/ruleset-editor/ruleset-editor.component.ts
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.html
  frontend/src/app/ruleset-testsuite/ruleset-testsuite.component.ts
  frontend/src/app/services/error-handler.service.ts
  frontend/tslint.json
Labels: frontend
